

NET "db[0]" LOC = Y13;
NET "db[1]" LOC = AB18;
NET "db[2]" LOC = AB17;
NET "db[3]" LOC = AB12;
NET "db[4]" LOC = AA12;
NET "db[5]" LOC = Y16;
NET "db[6]" LOC = AB16;
NET "db[7]" LOC = Y15;
NET "CLK" LOC = E12;
NET "ena" LOC = AB4;
NET "INICIO" LOC = V8;
NET "rs" LOC = Y14;
NET "rw" LOC = W13;


NET "DECIMALL[0]" LOC = R20;
NET "DECIMALL[1]" LOC = T19;
NET "DECIMALL[2]" LOC = U20;
NET "DECIMALL[3]" LOC = U19;
NET "DECIMALL[4]" LOC = V19;
NET "DECIMALL[5]" LOC = V20;
NET "DECIMALL[6]" LOC = Y22;
NET "DECIMALL[7]" LOC = W21;
